<div class="footer">
    <a href="/json">View all Articles</a> | <a href="/comments">View All Comments</a> | <a href="/article-comments">View all Articles & Comments</a> | <a href="www.github.com/ahang/npr-chatter">Repository</a>
    <p><a href="/">© 2017 NPR Chatter</a></p>
</div>