<div class="container">
    <div class="article-table">
        <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Article</th>
                    <th>Snippet</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tdbody class="nprResult"></tdbody>
        </table>
        <div class="modals"></div>
    </div>
</div>

<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><h4 class="title"></h4></h4>
            </div>
            <div class="modal-body">
                <div class="add-comments"></div>
                <div class="view-comments"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="assets/javascript/app.js"></script>