<div class="container">
    <div class="col-md-12">
        <h1>NPR -</h1>
    </div>
</div>
<div class="container">
    <div class="article-table">
        <table class="tale table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Type</th>
                    <th>Snippet</th>
                </tr>
            </thead>
    {{#each article}}
            <tdbody>
                <tr>
                    <td><a href={{this.link}}>{{this.title}}</a></td>
                    <td>{{this.type}}</td>
                    <td>{{this.teaser}}</td>
                </tr>
            </tdbody>
    {{/each}}
        </table>
    </div>
</div>